{% extends 'base.html' %}

{% block navigation %}
    {% include "switch_navbar_plain_email.html" %}
{% endblock navigation %}

{% block content %}

    <h1 class="title">Send email</h1>
    <h4 class="subtitle">Enter your email data</h4>

    <form method="post">
        {% csrf_token %}

        <div class="field">
            <label class="label">Recipient email address</label>
            <div class="control">
              {{ form.address }}
            </div>
        </div>

        <div class="field">
            <label class="label">Email subject</label>
            <div class="control">
              {{ form.subject }}
            </div>
        </div>
        
        <div class="field">
            <label class="label">Email Text</label>
            <div class="control">
              {{ form.email_text }}
            </div>
        </div>

        <input class="button is-primary" value="Send email" type="submit"/>
    </form>

{% endblock content %}