<div class="navbar" style="justify-content: center">

  <nav class="navbar" role="navigation" style="width: 75%" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-item">
            <div class="buttons">
              <a href="/email_sender/" class="button is-primary is-light">
                Email Sender
              </a>
          </div>
        </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
              <a href="/email_sender/login_status" class="button is-danger is-light">
                Login
              </a>
          </div>
        </div>
    </div>
  </nav>

</div>